/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bbody{
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.sideBar{
    position: absolute;
    width: 230px;
    height: 100%;
    background-color: #364150;
    display: flex;
    border-right: 1px solid rgba(0, 0, 0, 1);
    z-index: 1000;
}

.sideBar.hide{
    width: 0;
}

.sideBar ul{
    position: absolute;
    margin-top: 40px;
    width: 100%;
    list-style: none;
    overflow: hidden;
    padding-left: 0;
}

.sideBar ul li{
    border-bottom: 1px solid #DBE6ED;
}

.sideBar ul li a{
    width: 100%;
    color: #DBE6ED;
    font-size: 17px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 10px;
    transition: linear 0,5s;
}

.sideBar ul li a i{
    margin: 0 15px;
    font-size: 1.0em;
    color: white;
    transition: linear 0.2s;
}

.sideBar ul li a:hover{
    background-color: #36C6D3
}

.sideBar li a i {
    margin-right: 50px;
}

.content{
    position: absolute;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    transition: ease-in-out 0.5s;
}

.content.expand{
    width: 100%;
    left: 0;
}

.sideBar .toggle_menu{
    position: relative;
    top: -40px;
    right: -230px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B3643;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    transition: linear 0.2s;
}

.sideBar .toggle_menu li{
    font-size: 1.5em;
    transition: linear 0.2s;
}

.sideBar .toggle_menu:hover li{
    color: white;
}

.active a{
    background-color: #36C6D3;
}

@media only screen and (max-width: 768px) {
    .sideBar {
        display: none;
    }

    .toggle_menu {
        display: block;
    }
}



 */
